fastapi[standard]
fastapi-cache2
uvicorn[standard]
types-Authlib
authlib
httpx
python-multipart
sqlalchemy
alembic
asyncpg
pydantic
pydantic_settings
passlib[bcrypt]
bcrypt==3.2.0
types-passlib
python-jose[cryptography]
celery[redis]
redis
starlette
python-dotenv
itsdangerous
requests
types-requests
black
isort
flake8
mypy
pytest-cov

